html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    width: 98%;
    color: white;
}

.space{
    padding-left: 15%;
    padding-top: 15%;
}

.imageContainer{
    position: relative;
    display: inline-block;
}

.badge{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #DC3434;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
}

.customLinks{
    color: #878787;
    font-weight: normal;
    text-decoration: none;
    font-size: 20px;
}

.customLinks.selected{
    color: white;
    font-weight: bold;
}

.whiteBox{
    background-color: white;
    color: black;
    width: 100%;
    padding: 5px;
    border-radius: 30px;
}

.textColor{
    color: #878787;
}

.textBold{
    font-weight: bold;
}

.flexSpace{
    display: flex;
    justify-content: space-between;
}

.textStyle{
    font-size: 17px;
    font-weight: 500;
}

.paddingRight{
    padding-right: 10px;
}

.styledHr1{
    border: 0;
    height: 10px;
    background: linear-gradient(to right, darkgreen 40%, darkgray 20%);
    border-radius: 10px;
}

.styledHr2{
    border: 0;
    height: 10px;
    background: linear-gradient(to right, darkgreen 60%, darkgray 20%);
    border-radius: 10px;
}

